.icon-dark {
    fill: white;
}

.mode-icon:hover {
  cursor: pointer; 
}

.city-card:hover {
  cursor: pointer;
  // background-color: gainsboro;
  // border-color: gainsboro;
  // border-width: 2px;
}

.hide-city-card {
    display: none;
}