.icon-dark {
    fill: white;
}

.mode-icon:hover {
  cursor: pointer; 
}

.rich-person-card:hover {
  cursor: pointer;
  background-color: gainsboro;
  border-color: gainsboro;
  border-width: 2px;
}

.city-color-box {
  display: block;
  width: auto;
  height: 25px;
  border-radius: 5px;
  border-color: gray;
  border-width: 2px;
}